<div class="cus-picker-wrapper">
    <div class="cus-picker-toolbar">
        <div class="picker-toolbar-button picker-toolbar-cancel" ng-reflect-klass="picker-toolbar-button" ng-reflect-ng-class="picker-toolbar-cancel">
            <button class="picker-button button button-md button-clear button-clear-md" clear="" ion-button="" ng-reflect-klass="picker-button"><span class="button-inner">
            Cancel
          </span><div class="button-effect"></div></button>
        </div>
        <div class="picker-toolbar-button" ng-reflect-klass="picker-toolbar-button">
            <button class="picker-button button button-md button-clear button-clear-md" clear="" ion-button="" ng-reflect-klass="picker-button"><span class="button-inner">
            Done
          </span><div class="button-effect"></div></button>
        </div>
    </div>
    <div class="cus-picker-columns">
        <div class="picker-above-highlight"></div>
        <div class="picker-col" style="min-width: 80px;" [col]="[]">
            <div class="picker-opts">
                <button class="picker-opt picker-opt-selected" disable-activated="" style="transform: translate3d(0px, 0px, 0px);">1</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(0px, 43px, 0px) scale(0.81);">2</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(0px, 86px, 0px) scale(0.81);">3</button>
            </div>

        </div>
        <!--<div class="picker-col"  style="min-width: 48px;">

            <div class="picker-opts">
                <button class="picker-opt picker-opt-selected" disable-activated="" style="transform: translate3d(0px, 0px, 0px);">1-1</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(0px, 43px, 0px) scale(0.81);">1-2</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(0px, 86px, 0px) scale(0.81);">2-1</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(0px, 129px, 0px) scale(0.81);">2-2</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(-9999px, 0px, 0px);">3-1</button>
            </div>

        </div>
        <div class="picker-col" style="min-width: 80px;">

            <div class="picker-opts">
                <button class="picker-opt picker-opt-selected" disable-activated="" style="transform: translate3d(0px, 0px, 0px);">1-1-1</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(0px, 43px, 0px) scale(0.81);">1-1-2</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(0px, 86px, 0px) scale(0.81);">1-2-1</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(0px, 129px, 0px) scale(0.81);">1-2-2</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(-9999px, 0px, 0px);">2-1-1</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(-9999px, 0px, 0px);">2-1-2</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(-9999px, 0px, 0px);">2-2-1</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(-9999px, 0px, 0px);">2-2-2</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(-9999px, 0px, 0px);">3-1-1</button>
                <button class="picker-opt" disable-activated="" style="transform: translate3d(-9999px, 0px, 0px);">3-1-2</button>
            </div>

        </div>-->
        <div class="picker-below-highlight"></div>
    </div>
</div>